body {
	background: #3f4f5f;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

hr {
	border:0;
	background:#dedede;
	height:1px;
}		

header{
	font-family: 'calibri';
	text-align: center;
	color: white;
}

header .judul{
	font-size: 17pt;
}

header .deskripsi{
	font-size: 11pt;
}

.wrap {
	width: 950px;
	margin:20px ;
}

nav.menu ul {
	.no-scroll{overflow:hidden};
	position: top;
	color:#fff;
	list-style: none;
	float:left;
	padding:0;
	width: 1300px;
	margin:0 0 0;
	background: black;
}

nav.menu ul li {
	margin:0;
	float:left;
}

nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

nav.menu ul a:hover {
	background: red;
}

.blog {
	padding-top: 60px;
	float:center;
}

.content {
	width:1250px;
	padding:25px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}

.content img {
	align-content: center;
    width: 155px;
    height: auto;
    padding: 15px;
    border: 5px outset black;
	min-width: 50px;
	margin:5px;
	box-shadow: 10px 10px 10px black;
	max-width: 100%;
}

.iframe {
	width: 500px;
	height: 500px;
	frameborder: 0px;
	allowfullscreen: auto;
}

.content h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}

.content p:last-child {
	margin: 0;
}

.content .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700; 
}

.content .continue-lendo:hover {
	margin-left:10px;
}

.post-info {
	float: left;
	font-size: 16px;
	margin-top: -16px;
	text-transform: uppercase;
}

.footer {
	color:black;
	text-align:center;
	background-color:white;
	clear:both;
	width:1300px;
	height:60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.multitab-video {
	align-items: center;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
    height: 40px;
    width: 40px;
}

.owl-prev {
    float: left;
    background: url(../icons/arrows.png) top left no-repeat;
}

.owl-next {
    float: right;
    background: url(../icons/arrows.png) top left no-repeat;
    background-position: 100% 0;
    margin-right: 5px;
}

@media screen and (max-width: 960px) {

	.header {
		position:inherit;
	}

	.wrap {
		width: 90%;
		margin:25px auto;
	}

	nav.menu ul {
		width: 100%;
	}

	nav.menu ul {
		float:inherit;
	}

	nav.menu ul li {
		float:inherit;
		margin:0;
	}

	nav.menu ul a {
		padding:15px;
		font-size: 16px;
		border-top:1px solid #1abf9f;
		border-bottom:1px solid #16a085;
	}

	.blog {
		width:90%;
	}

	.content {
		float:inherit;
		margin:0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;  
		background: #fff;
	}

	.content img {
		max-width: 100%;
		margin:0 0 25px -5%;
		min-width: 100%;

	}

	.content .continue-lendo:hover {
		margin-left:0;
	}


	.footer{
		width: auto;
		margin:auto;
	}

}



@media screen and (max-width: 460px) {

	nav.menu ul a {
		padding:15px;
		font-size: 14px;
	}


	.post-info {
		display:none;
	}

	.content {
		margin:25px auto;
	}

	.content img {
		margin:-5% 0 25px -5%;
	}

	.footer{
		width: auto;
		margin: auto;
	}			
}